.allproject {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.heading h1 {
    font-family: 'Jersey', sans-serif;
    font-size: 6.5vw;
    font-weight: 400;
    color: #F3BC49;
    margin-bottom: 2rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(220px, auto);
    row-gap: 50px; /* Increased row gap */
    column-gap: 50px; /* Increased column gap */
    width: 90%;
    height: 60%;
    position: relative;
    overflow-y: auto;
    padding: 30px 50px;
    padding-right: 45px; /* Adjusted to account for scrollbar */
    background-color: #0000005d;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2.5px solid rgba(255, 255, 255, 0.1);
    z-index: 9;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #5e5e5e #33333300; /* Firefox */
}

/* Custom scrollbar styles */
.project-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    cursor: pointer;
}

.project-container::-webkit-scrollbar-track {
    background: #33333300; /* Background of the scrollbar track */
    border-radius: 10px;
    border: 1.5px solid #333; /* Padding around the scrollbar track */
}

.project-container::-webkit-scrollbar-thumb {
    background-color: #5e5e5e; /* Color of the scrollbar thumb */
    border-radius: 8px;
    border: 2.5px solid #242424; /* Padding around the thumb */
}

.project-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
}

.project {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .heading h1 {
        font-size: 9vw;
        margin-bottom: 2vw;
    }
    .project-container {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px; /* Adjusted row gap for smaller screens */
        column-gap: 40px; /* Adjusted column gap for smaller screens */
        padding: 20px 40px; /* Adjusted padding for smaller screens */
    }
}

@media (max-width: 425px) {
    .heading h1 {
        font-size: 12vw;
        margin-bottom: 5vw;
    }
    .project-container {
        grid-template-columns: 1fr;
        height: auto;
        max-height: 60vh;
        row-gap: 30px; /* Adjusted row gap for mobile screens */
        column-gap: 30px; /* Adjusted column gap for mobile screens */
        padding: 20px 30px; /* Adjusted padding for mobile screens */
    }
}