.homepage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.home_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 42%;
    height: 100%;
    z-index: 2;
    padding: 0 0 0 8rem;
}

video{
    background-blend-mode: screen;
    width: 58%;
    filter: saturate(1.5);
    z-index: 0;
    padding: 0 0 0 5rem ;
}

.name{
    font-family: 'Sora', sans-serif;
    font-size: 2.5vw;
    font-weight: 500;
}

.name span{
    font-family: 'Sora', sans-serif;
    font-size: 2.5vw;
    font-weight: 900;
    color: #F3BC49;
}

.profession{
    font-family: 'Jersey', sans-serif;
    font-size: 7.5vw;
    font-weight: 500;
    line-height: 7vw;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.5rem;
}

.portfolio_button{
    font-family: 'Jersey', sans-serif;
    font-size: 1.4vw;
    font-weight: 550;
    color: #362500;
    background-color: #F3BC49;
    border: 2px solid #362500;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.portfolio_button:hover{
    background-color: #ffffff;
    color: #362500;
    border: 1px solid #362500;
}
.about_button{
    font-family: 'Jersey', sans-serif;
    font-size: 1.4vw;
    font-weight: 550;
    color: #002034;
    background-color: #2A8BBB;
    border: 2px solid #21506D;
    padding: 1rem 2.5rem;
    margin-top: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.about_button:hover{
    background-color: #ffffff;
    color: #002034;
    border: 1px solid #002034;
}

@media (max-width: 768px){
    .homepage{
        flex-direction: column;
    }

    .home_content{
        width: 100%;
        height: auto;
        padding:5rem 4rem 3rem 4rem;
        align-items: center;
        text-align: center;
        row-gap: 1rem;
    }

    video{
        width: auto;
        height: 40%;
    }

    .name, .name span{
        font-size: 3.5vw;
    }

    .profession{
        font-size: 12vw;
        line-height: 10vw;
    }

    .buttons{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .portfolio_button, .about_button{
        font-size: 3.5vw;
        padding: 0.8rem 2rem;
    }
}

@media (max-width: 425px){
    .home_content{
        padding: 5rem 2rem 2rem 2rem;
    }

    .name, .name span{
        font-size: 5vw;
    }

    .profession{
        font-size: 18vw;
        line-height: 15vw;
    }

    .portfolio_button, .about_button{
        font-size: 5.5vw;
        padding: 0.8rem 2rem;
    }
}