.main_bg_section{
    position: absolute;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_bg{
    width: 60%;
    height: auto;
    object-fit: contain;
    opacity: 0.1;
    z-index: 0;
}

.blur1{
    position: absolute;
    width: 30%;
    height: auto;
    filter: blur(150px);
    opacity: 0.35;
    aspect-ratio: 1;
    background: radial-gradient(circle, #00AAFF,rgba(0, 0, 0, 0));
    bottom: -30%;
}

.blur2{
    position: absolute;
    width: 30%;
    height: auto;
    filter: blur(170px);
    opacity: 0.35;
    aspect-ratio: 1;
    background: radial-gradient(circle, #F3BC49,rgba(0, 0, 0, 0));
    top: 10%;
    left: 0;
}
.blur3{
    position: absolute;
    width: 15%;
    height: auto;
    filter: blur(200px);
    opacity: 0.35;
    aspect-ratio: 1;
    background: radial-gradient(circle, #F3BC49,rgba(0, 0, 0, 0));
    top: 10%;
    right: 10%;
    z-index: 0;
}

@media (max-width:768px) {
    .main_bg{
        width: 120%;
        opacity: 0.08;
    }
    .blur1{
        width: 50%;
        filter: blur(120px);
        opacity: 0.35;
        bottom: -40%;
    }
    .blur2{
        width: 40%;
        filter: blur(120px);
        opacity: 0.35;
        top: 10%;
        left: 0;
    }
    .blur3{
        width: 30%;
        filter: blur(120px);
        opacity: 0.35;
        top: 10%;
        right: 10%;
    }
}

@media (max-width:425px) {
    .main_bg{
        width: 180%;
        opacity: 0.08;
    }
    .blur1{
        width: 60%;
        filter: blur(100px);
        opacity: 0.45;
        bottom: -25%;
    }
    .blur2{
        width: 40%;
        filter: blur(100px);
        opacity: 0.55;
        top: 10%;
        left: 0;
    }
    .blur3{
        width: 30%;
        filter: blur(100px);
        opacity: 0.55;
        top: 10%;
        right: 10%;
    }
    
}